@charset "UTF-8";
body{
    margin:0px;
    background-color:#dx143c;
  }
  .header{
    margin:0px;
    padding:0px;
    height:80px;
    border-bottom:1px solid black;
    text-align:center;
    font-size:30px;
    background:#2C3E50;
    /* color:white */;
    font-size: 16px;
   /*  position: sticky;  */
    top: 0px;
  }
  .content{
    margin:50px;
    padding:50px;
    height:auto;
    
  }
  .fixed{
  	position: sticky;
  }
  .header-title{
 	margin:0px;
  	margin-top: 0px;
  	height:80px;
  	
  }
  .jumbotron{
  	background-image: url('../image/jumbotronBackground.jpg');
  	background-size : cover;
  	text-shadow: black 0.2em 0.2em 0.2em;
  	color: white;
  	 
  }
  
  .tail{
  	background-color:#2C3E50;
  	color:#FFFFFF;
    margin:0px;
    padding:5px;
    height:auto;
    border-top:1px solid black;
  }
  .site-copyright{
  	text-align: center;
  	color:#FFFFFF;
  	background-color:#1A252F;
  }
